## The Idea

In [1]:
'''
1. The idea is to stop the transmission by prioritizing tests and hence detecting the case quikly.
2. Data can be collected on the symptoms of COVID-19.
3. A machine learning model is then trained on the data to find out the probability of a person having the infection.
4. The model is then used to find out whom to test for the infection first under a limited testing capacity
5. The same model can be used to find potential candidates for conducting random tests

'''

'\n1. The idea is to stop the transmission by prioritizing tests and hence detecting the case quikly.\n2. Data can be collected on the symptoms of COVID-19.\n3. A machine learning model is then trained on the data to find out the probability of a person having the infection.\n4. The model is then used to find out whom to test for the infection first under a limited testing capacity\n5. The same model can be used to find potential candidates for conducting random tests\n\n'

### Machine Learning model Parameter

In [2]:
'''
 > A team of doctors can sit down to find out the best model parameters.
 > A sample set of such parameters is as follows:
 
 a. Features
    1. Average Fever - Continuous
    2. Body Pain - 0/1 - Boolean
    3. Age - Discrete
    4. Runny Nose
    5. Difficult in breathing - Categorical: -1/0/1
    
 b. Labels:
    1.Probability of COVID-19 Infection

'''

'\n > A team of doctors can sit down to find out the best model parameters.\n > A sample set of such parameters is as follows:\n \n a. Features\n    1. Average Fever - Continuous\n    2. Body Pain - 0/1 - Boolean\n    3. Age - Discrete\n    4. Runny Nose\n    5. Difficult in breathing - Categorical: -1/0/1\n    \n b. Labels:\n    1.Probability of COVID-19 Infection\n\n'

In [3]:
import pandas as pd

### Reading Data

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

        Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbability
0   98.394921         0   76          0           0                     0
1   99.514953         0   51          1          -1                     0
2  100.956026         1   43          1          -1                     1
3   99.387938         0   78          0           1                     1
4   99.489164         1   19          0          -1                     1

In [6]:
df.tail()

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbability
2112   99.538782         1   83          1           1                     1
2113  100.254784         1   80          1           0                     0
2114  101.971934         1   78          0           0                     1
2115  100.796341         0    9          0          -1                     1
2116  101.541794         1   77          0          -1                     0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2117 entries, 0 to 2116
Data columns (total 6 columns):
Fever                   2117 non-null float64
BodyPain                2117 non-null int64
Age                     2117 non-null int64
RunnyNose               2117 non-null int64
DiffBreath              2117 non-null int64
InfectionProbability    2117 non-null int64
dtypes: float64(1), int64(5)
memory usage: 99.4 KB

In [8]:
df['BodyPain'].value_counts()

1    1101
0    1016
Name: BodyPain, dtype: int64

In [9]:
df['RunnyNose'].value_counts()

0    1072
1    1045
Name: RunnyNose, dtype: int64

In [10]:
df['DiffBreath'].value_counts() # Insight

 0    745
 1    700
-1    672
Name: DiffBreath, dtype: int64

In [11]:
df.describe()

,Fever,BodyPain,Age,RunnyNose,DiffBreath,InfectionProbability
count,2117.000000,2117.000000,2117.000000,2117.000000,2117.000000,2117.000000
mean,100.020617,0.520076,51.108172,0.493623,0.013226,0.499291
std,1.165758,0.499715,28.854667,0.500077,0.805120,0.500118
min,98.000520,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.016123,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.026430,1.000000,52.000000,0.000000,0.000000,0.000000
75%,101.049108,1.000000,77.000000,1.000000,1.000000,1.000000
max,101.996085,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Spliting

In [12]:
import numpy as np

In [13]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [14]:
np.random.permutation(10)

array([1, 0, 5, 6, 9, 3, 4, 2, 7, 8])

In [15]:
train,test = data_split(df,0.2)

In [16]:
train

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbability
411   101.949624         1   22          0           1                     1
564   100.184280         1   32          0          -1                     0
1656  101.683592         0   15          0           1                     0
438    99.788809         1   22          0           1                     1
73    101.519042         0   20          0          -1                     0
...          ...       ...  ...        ...         ...                   ...
1638   99.128424         1   60          0           0                     0
1095   99.690763         0   71          0           1                     1
1130   98.106893         0  100          1           1                     0
1294   99.864203         1    5          1           0                     1
860    99.495053         0   35          0          -1                     1

[1694 rows x 6 columns]

In [17]:
test

           Fever  BodyPain  Age  RunnyNose  DiffBreath  InfectionProbability
408   100.867344         0   54          1           1                     0
1110   98.501106         1   91          0           0                     1
259    98.444139         0   15          1          -1                     1
354   100.503003         1    9          1           1                     1
387    99.174253         0   59          0           0                     0
...          ...       ...  ...        ...         ...                   ...
1490   98.739391         0   76          1           1                     1
1784   99.924102         0   10          1           1                     1
1362   99.440100         1   17          0          -1                     1
637    98.978215         1   24          0           1                     0
59    101.037498         1    7          1           1                     1

[423 rows x 6 columns]

In [18]:
x_train = train[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()
x_test = test[['Fever','BodyPain','Age','RunnyNose','DiffBreath']].to_numpy()

In [19]:
y_train = train[['InfectionProbability']].to_numpy().reshape(1694 ,)
y_test = test[['InfectionProbability']].to_numpy().reshape(423 ,)

In [20]:
y_train

array([1, 0, 0, ..., 0, 1, 1], dtype=int64)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

C:\Users\faisa\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [23]:
inputFeatures = [98,0,15,0,0]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [24]:
infProb

0.49720365567148195